@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Import Roboto font */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to bottom right, #e0f2f7, #b3e5fc);
}

.box {
    width: auto;
    height: 150px;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #687291;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.box1, .box3, .box5 {
    background-color: #dfe1e7;
}

.box2, .box4, .box6 {
    background-color: #eeeff2;
}