body {
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    margin: 0;
}

.box {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}

.box:hover {
    background-color: yellow;
    color: goldenrod;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    display: inline-block;
    margin-right: 10px;
}

.box6 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}